.hero {
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/image2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
  
}

.left-h {
  padding: 0 2rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%
  
}



.slogan {
  margin-top: 4rem;
  background-color: #1b1f22;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slogan > span {
  z-index: 2;
}
.slogan > div {
  position: absolute;
  background-color: var(--yellow);
  width: 4.6rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-overflow: inherit;
  box-sizing: border-box;
  text-shadow: 0px 0px 20px black;
  
}



.hayal-vucud-div{
  margin: auto;
  width: 100%;
  text-align: center;
}

.bosluk-text-divelement{
  display: inline;
}
.bosluk-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 0px 0px 15px black;
}

.bosluk-text2{
  display: inline;
}

.hero-text > div:nth-of-type(2) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
  justify-content: center;
}

.button-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
  text-shadow: 0px 0px 20px black;
}
.button-body span{
  color:black;
}

.figures > div > span {
  margin-right: 5px;
}
.figures {
  display: flex;
  gap: 2rem;
  
}

.figures > div {
  display: flex;
  align-items: center;
  margin: 5px;
}
.figures > div > span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}
.figures > div > span:nth-of-type(2) {
  color: white;
  text-transform: uppercase;
  margin: 2px;
}


#button2{
  display: none;
}

.hero-buttons {
  
  display: flex;
  gap: 1rem;
  font-weight: bolder;
}

#button1 {
  color: white;
  background-color: var(--darkyellow);
  width: 8rem;
  height: 2.5rem;
  font-weight: bolder;
}
#button2 {
  color: black;
  background-color: var(--yellow);
  height: 2.5rem;
  width: 15rem;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 1.2em;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#button2:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: white;
  background-color: black;
}

.heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--darkGrey);
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}

.heart-rate > img {
  width: 2rem;
}

.heart-rate > span:nth-child(2) {
  color: var(--gray);
}

.heart-rate > span:nth-child(3) {
  color: white;
  font-size: 1.5rem;
}

.calories {
  display: flex;
  gap: 2rem;
  background-color: var(--caloryCard);
  border-radius: 5px;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  top: 32rem;
  right: 28rem;
}

.calories > img {
  width: 3rem;
}
.calories > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.calories > div > :nth-child(1) {
  color: var(--gray);
  font-size: 1.5rem;
}
.calories > div > :nth-child(2) {
  color: white;
  font-size: 1.5rem;
}


.hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 24rem;
}
.hero-image-back {
  position: absolute;
  top: 4rem;
  right: 20rem;
  width: 15rem;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    background-image: url(../assets/image2small.png);
    background-repeat: no-repeat;
    background-position: top;
    
  }

 
  
  .slogan {
    margin-top: 0;
    font-size: small;
    align-self: center;
  }
  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero-text > div:nth-of-type(2) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .flex-span{
    width: 100%;
    margin: 0 auto;
  }
  .bosluk-text-divelement{
    text-align: center;
  }
  .figures{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    
  }
  .hero-buttons {
    justify-content: center;
  }
  .figures > div > span:nth-last-of-type(1) {
    font-size: 15px;
    text-shadow: 0 0 50px black;
  }
  .figures > div > span:nth-last-of-type(2) {
    font-size: 15px;
    text-shadow: 0 0 50px black;
  }
  .right-h {
    position: relative;
    background: none;
  }

  .heart-rate {
    position: relative;
    left: 1rem;
    top: 2rem;
  }
  .calories {
    position: relative;
    top: 5rem;
    left: 2rem;
  }
  .calories > img {
    width: 2rem;
  }
  .calories > div > :nth-child(2) {
    color: white;
    font-size: 1rem;
  }
  .hero-image {
    position: relative;
    width: 17rem;
    left: 7rem;
    top: 3rem;
    align-self: center;
  }
  .hero-image-back {
    width: 15rem;
    left: 2rem;
    top: 0;
  }
  .button-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    text-shadow: 0px 0px 50px black;
  }

}

@media screen and (max-width:400px){
  .hero{
    height: 700px;
    padding: 1rem;
    
  }
  .left-h{
    padding: 0rem;
  }
  
  .logo{
    width: 10rem;
    margin: auto;
    
  }
  .flex-span{
    font-size: 1.5rem;
  }
  div .left-h{
    margin-top: 10px;
    justify-content: space-evenly;
  }
  
}